// fonts

$font-stack-logo: "Sarala", sans-serif;
$font-stack-heading: "Roboto", sans-serif;
$font-stack-body: "Lato", sans-serif;

// background

$blue-grey-dark: #334e68;

// title

$blue-grey-light: #d9e2ec;

// button background

$blue-grey: #bcccdc;

// button text

$blue-grey-very-dark: #102a43;

// link text

$yellow: #e9b949;

// link active / focus

$yellow-dark: #c99a2e;

// inputs

$white-off: #f0f4f8;

$blue-grey-placeholder: #829ab1;

// system messages

$alert-message: #911111;
$success-message: #199473;

// breakpoints

$mobile-landscape: 480px;
$tablet: 768px;
$desktop: 1025px;
$desktop-large: 1440px;

$container: 1000px;
